/* pagintion*/
.pagination{
    text-align: center;
}
.pagination a{
    color: black;
    text-decoration: none;
    padding : 8px 15px;
    display: inline-block;
}
.pagination a.active{
    background-color: rgb(81, 239, 81);
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: rgb(158, 158, 158);
    border-radius: 5px;
}

.dropdown button{
    background-color: rgb(169, 167, 167);
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}
.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}
.dropdown{
    display: inline-block;
}
.dropdown .content{
    display: none;
    position: absolute;
    background-color: rgb(229, 229, 229);
    min-width: 100px;
    box-shadow: 2px 2px 5px rgb(118, 118, 118);
}
.dropdown:hover .content{
    display: block;
}
.dropdown:hover button{
    background-color: rgb(199, 198, 198);
}
.dropdown a:hover{
    background-color: rgb(219, 218, 218);
}