body{
    margin: 0px;
}
main{
    margin: 20px;
}

h1{
    text-align:center;
}
h3{
    text-align: center;
}
.navbar ul{
    list-style-type: none;
    background-color: grey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(179, 177, 177);
}
.navbar li{
    float: left;
}
